
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {

    /* Variable color */

    /* Color background */
    --color1: #fcfaff;

    /* Color violet */
    /* Cards et boutons */

    --color2: #dcb3df;

    --color2-text: #fff;

    --color2-hover: #8c4492;
    --color2-border: #3c0444;

    /* Color bleu */
    --color3: #B9DDF6;

    --lightGray: #dfdddd;

    

    --ligneSection: #352f2f8a;
    --default-text: #000000;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: 0.2s ease; */
    color: var(--default-text);
    fill: var(--default-text);
    font-family: -apple-system, BlinkMacSystemFont, Poppins,  Montserrat, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
html {
    font-family: -apple-system, BlinkMacSystemFont, Poppins,  Montserrat, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--color1);
}

a {
  text-decoration: none;
  color: var(--colorPrimary);
  font-size: 18px;
}

li {
    list-style: none;
}

button, a {
    transition: 0.2s;
}


/* Définition des différentes sections du site */


/* Premières sections */

aside.leftside{

    background: var(--color1);

    width: 240px;
    
	position: fixed;
	height: 100%;
	
	top: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
	
    border-right : 1px solid var(--ligneSection);
}

main{
    /* flex:60%; */
    background-color: var(--color1);

    margin: 0 240px;

    height: 100vh;
    /* height: 100%; */
}


aside.rightside{
    /* flex: 20%; */
    background: var(--color1);

    width: 240px;
    
	position: fixed;
	height: 100%;
	
	top: 0;
	right: 0;
	z-index: 1;
	overflow-x: hidden;

    border-left : 1px solid var(--ligneSection);
}


@media screen and (max-width: 1200px) {
    aside.leftside {
        width: 100px;
    }

    aside.rightside {
        width: 0px;
    }

    main{
        margin-left: 100px;
        margin-right: 0px;
    }
}