
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {

    /* Variable color */

    --color1: #FFFBFA;
    --color2: #FBD1B0;
    --color3: #B9DDF6;

    --ligneSection: #352f2f8a;

    --background: #1d9bf020;
    --brandColor: #d9d9d9;
    --itemBackground: #d9d9d920;

    --colorPrimary: #000000;
    --colorSecondary: #6e767d;

    --colorWhite: #fff;
    --tweetBtnBg: #1d9bf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease;
    /* user-select: none; */
}
  
html {
    font-family: -apple-system, BlinkMacSystemFont, Poppins,  Montserrat, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: var(--colorPrimary);
  font-size: 18px;
}

li {
    list-style: none;
}


/* Premières sections */

aside.leftside{

    background: var(--sidebarBackground);

    width: 240px;
    
	position: fixed;
	height: 100%;
	
	top: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
	
    border-right : 1px solid var(--ligneSection);
}

main{
    /* flex:60%; */
    background-color: var(--color1);

    margin: 0 240px;
}


aside.rightside{
    /* flex: 20%; */
    background: rgb(255, 253, 253);

    width: 240px;
    
	position: fixed;
	height: 100%;
	
	top: 0;
	right: 0;
	z-index: 1;
	overflow-x: hidden;

    border-left : 1px solid var(--ligneSection);
}


@media screen and (max-width: 1200px) {
    aside.leftside {
        width: 100px;
    }

    aside.rightside {
        width: 0px;
    }

    main{
        margin-left: 100px;
        margin-right: 0px;
    }
}