


/* ---------------------------------------------------------------- */
/*              Formulaires Inscription et Connexion                */
/* ---------------------------------------------------------------- */


/* .form-visiteur {
    position: fixed;
    z-index: 1;
    margin: 50px;
} */

.form-on-top{
    position: fixed;
    z-index: 1;
    top: 0;
    /* margin: auto; */

    margin-top: 50px;

    left: 50%;
    transform: translateX(-50%);

    padding: 0;

    /* background-color: var(--color2);     */
}

/* Dessin de l'emplaçement du formulaire */
.formulaire {
    background-color: var(--color1);
    /* margin-top: 20px; */
    padding: 40px 60px;
    min-width: 300px;
    max-width: 600px;
    border-radius: 10px;

    border: 1px solid var(--ligneSection);
    
}

/* Mise en forme du titre du formulaire */
.formulaire h2 {
    /* color: var(--color2-hover); */
    text-align: center;
    margin-bottom: 20px;
}

/* Mise en forme des saisies dans le formulaire */
.formulaire input {
    font-family: 'Poppins', sans-serif;  
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
    width: 220px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

/* Ajout d'un effet de relief lorsque l'on a séléctionner un champ input */
.formulaire input:focus {
    box-shadow: 3px 4px #b3b3b3;
}


/* Mise en forme du bouton d'envoi du formulaire */
.submit-button {
    font-family: 'Poppins', sans-serif;  
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    /* color: white; */
    background-color: var(--color2);
    /* outline: none; */ /* Pour enlever la bordure de séléction*/
    cursor: pointer;
    margin-bottom: 10px;
}

/* Ajout d'un effet assombrissant lors du survol du bouton */
.submit-button:hover {
    
    background-color: var(--color2-hover);
    color: var(--color2-text);
}

/* Mise en forme du lien de redirection du formulaire */
form a {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #eb7371;
    cursor: pointer;
    outline: none;
}

/* Ajout d'un effet assombrissant lors du survol du lien */
form a:hover {
    color: var(--color2-hover);
}


.exit-button{

    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    /* fill: white; */
}



/* ---------------------------------------------------------------- */
/*              Formulaires Ajout événement              */
/* ---------------------------------------------------------------- */

h1{
    text-align: center;
    margin: 20px 0px;
}

.formulaire-event .ecart{
    margin: 10px 0px;
}

.formulaire-event{
    text-align: center;

    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    height: 70%;
    margin: auto;
    align-items: center;

    /* justify-content: space-around; */

    background-color: var(--color2);
    border: 1px solid var(--ligneSection);
    border-radius: 10px;
    padding: 20px;
}

.formulaire-event .titre{
    width: 60%;
    height: 30px;

    font-size: 16px;
}

.formulaire-event textarea{
    width: 100%;
    height: 100px;
    
}

.formulaire-event .lieu{
    
    width: 40%;
    height: 30px;

    font-size: 16px;
}

.formulaire-event .submit-button{
    margin-top: 30px;
    background-color: var(--color2-hover);
    color: var(--color2-text);
}

.formulaire-event .submit-button:hover {
    
    background-color: var(--color2);
    border : 1px solid var(--color2-hover);

    color: var(--color2-hover);
}

