* {
    margin: 0;
    padding: 0;
}

body {
	text-align: left;
	font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.5;
	color: black;
}

/* Style qui s'applique au header */

header {
    width: 100%;

	position: relative;
	background: linear-gradient(to right, #fab20d 40%,#f45c43);
}

/* Barre de navigation */

nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em; /* enlever le 1 si on ne met pas d'image */
}

/* Logo */

.logo img {
    width: 200px;
}

/* Links et sa liste de liens */

.links {
    width: 50%;

}

.links ul {
    display: flex;
    justify-content: space-between;
}

.links li {
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 0.5em;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 0% .1em;
    background-position: 50% 100%;

}

/* J'ai fait en suivant cette vidéo, mais je n'ai pas encore fini:
https://youtu.be/gigBUU0aqwo?t=1152 */