/* ---------------------------------------------------------------- */
/*                          Page visiteur                           */
/* ---------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--color1);
    margin: 0;
    height: 100vh;
}


/* Mise en forme titre */
h1 {
    font-size: 40px;
}

/* Mise en forme paragraphe */
p {
    font-size: 15px;
}

/* Mise en forme des liens en forme de boutons */
.big-button a {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    min-width: 150px;
    max-width: 400px;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: var(--color2);
    cursor: pointer;
    margin: 50px 30px;
}

/* Ajout d'un effet assombrissant lors du survol du lien */
.big-button a:hover {
    background-color: var(--color2-hover);
}




/* ---------------------------------------------------------------- */
/*              Formulaires Inscription et Connexion                */
/* ---------------------------------------------------------------- */


/* .form-visiteur {
    position: fixed;
    z-index: 1;
    margin: 50px;
} */

/* Dessin de l'emplaçement du formulaire */
form {
    background-color: white;
    margin-top: 20px;
    padding: 40px 60px;
    min-width: 300px;
    max-width: 600px;
    border-radius: 10px;
}

/* Mise en forme du titre du formulaire */
form h1 {
    color: var(--color2-hover);
    text-align: center;
    margin-bottom: 20px;
}

/* Mise en forme des saisies dans le formulaire */
form input {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
    width: 220px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

/* Ajout d'un effet de relief lorsque l'on a séléctionner un champ input */
form input:focus {
    box-shadow: 3px 4px #b3b3b3;
}


/* Mise en forme du bouton d'envoi du formulaire */
form button {
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color:  var(--color2);
    /* outline: none; */ /* Pour enlever la bordure de séléction*/
    cursor: pointer;
    margin-bottom: 10px;
}

/* Ajout d'un effet assombrissant lors du survol du bouton */
form button:hover {
    background-color: var(--color2-hover);
}

/* Mise en forme du lien de redirection du formulaire */
form a {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color:  var(--color2);
    cursor: pointer;
    outline: none;
}

/* Ajout d'un effet assombrissant lors du survol du lien */
form a:hover {
    color: var(--color2-hover);
}



/* ---------------------------------------------------------------- */
/*                          Messages URL                            */
/* ---------------------------------------------------------------- */

/* Dessiner la boite du message */
.alert {
    margin-top: 5px;
    min-width: 300px;
    max-width: 600px;
    padding: 5px;
    border: 1px solid var(--ligneSection);
    border-radius: 5px;
}

/* Coloration du backgroung an cas de succès */
.alert-success {
    background-color: lightgreen;
}

/* Coloration du backgroung an cas d'échec */
.alert-fail {
    background-color: red;
}