/* ---------------------------------------------------------------- */
/*                          Page visiteur                           */
/* ---------------------------------------------------------------- */


/* Mise en forme titre */
h1 {
    font-size: 40px;
}

/* Mise en forme paragraphe */
p {
    font-size: 15px;
}


.page-visiteur{
    display: flex;
    flex-direction: column;

    align-items: space-between;
}

.accueil{
    display: flex;
    align-items: center;
}

.accueil img{
    width: 40%;
    height: 40%;
    /* margin-right: 50px; */
}

.accueil .accueil-infos{
    padding-top: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left:10px;
}

.accueil-infos h1{
    /* font-size: 40px; */
    margin-bottom: 20px;
    
}

.accueil-infos p{
    /* font-size: 40px; */
    width: 80%;
    font-size: 18px;
}

.accueil .buttons{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}

.accueil-button {
    
    font-family: 'Poppins', sans-serif;  
    margin-right: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    /* color: white; */
    background-color: var(--color2);
    /* outline: none; */ /* Pour enlever la bordure de séléction*/
    cursor: pointer;
    

    border: 1px solid var(--ligneSection);

}

/* Ajout d'un effet assombrissant lors du survol du bouton */
.accueil-button:hover {
    
    background-color: var(--color2-hover);
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    color: var(--color2-text);
}

/* Aperçu des événements */

.accueil-content{
    margin-top: 50px;
}

.accueil-content h2{
    margin-bottom: 10px;
}

.container-apercu-event{

    width: 100%;

    max-height: 350px;
    display: flex;
    
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;

    /* overflow-x: hidden; */
    overflow-x: visible;

    overflow-y: hidden;

    /* border: 1px solid var(--ligneSection); */
}



.form-on-top-accueil{
    position: fixed;
    z-index: 1;
    top: 0;
    /* margin: auto; */

    margin-top: 50px;

    left: 60%;
    transform: translateX(-50%);

    padding: 0;

    /* background-color: var(--color2);     */
}



/* ---------------------------------------------------------------- */
/*                          Messages URL                            */
/* ---------------------------------------------------------------- */

/* Dessiner la boite du message */
.alert {
    margin-top: 5px;
    min-width: 300px;
    max-width: 600px;
    padding: 5px;
    border: 1px solid var(--ligneSection);
    border-radius: 5px;
}

/* Coloration du backgroung an cas de succès */
.alert-success {
    background-color: lightgreen;
}

/* Coloration du backgroung an cas d'échec */
.alert-fail {
    background-color: red;
}